:root {
  --svg-color: invert(100%) sepia(4%) saturate(15%) hue-rotate(174deg)
    brightness(104%) contrast(100%);
  --svg-search-color: invert(100%) sepia(4%) saturate(15%) hue-rotate(174deg)
    brightness(104%) contrast(0%);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template: max-content calc(100vh) / max-content minmax(600px, 1fr);
}

.sidebar {
  display: grid;
  grid-area: 1 / 1 / 4 / 2;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr;
  grid-gap: 35px;
  background-color: rgb(37, 153, 179);
  padding: 25px 50px 25px 20px;
}

.dashboard-image {
  width: 50px;
  height: 50px;
  filter: var(--svg-color);
  margin-right: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  filter: var(--svg-color);
  margin-right: 10px;
}

.nav-styles a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
}

.nav-heading {
  font-weight: bold;
  font-size: 30px;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.nav-heading a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.nav-styles li:hover {
  background-color: rgb(141, 183, 227);
  color: #fff;
  border-radius: 5px;
  transform: scale(1.05);
}

.nav-styles {
  text-decoration: none;
  color: #fff;
  list-style: none;
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
}

.top-header {
  display: grid;
  grid-template-columns: 70% 10% 20%;
  padding: 15px 20px 15px 30px;
  column-gap: 20px;
}

.search-icon {
  width: 30px;
  height: 30px;
  filter: var(--svg-search-color);
  margin-right: 10px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar input {
  width: 70%;
  padding: 7.5px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgb(227, 245, 248);
}

.profile-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.notification-icon {
  width: 30px;
  height: 30px;
  filter: var(--svg-search-color);
  margin-right: 10px;
}

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.profile-icon:hover {
  cursor: pointer;
}

.profile-name {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.bottom-header {
  display: grid;
  grid-template-columns: 70% 10% 20%;
  padding: 15px 20px 15px 30px;
  column-gap: 20px;
}

.user-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.profile-user-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

